{% extends "base.html" %}
{% load static %}

{% block page_content %}

	<div class="container mt-5">
		<div class="row">
			<div class="col-5 offset-1">
				<h1>Информация о погоде в городе:</h1>

				<form action="" method="post">
					{% csrf_token %}
					
					{{ form.name }}
					<input type="submit" name="send" value="Добавить" class="mt-2 btn btn-danger">
				</form>

			</div>


			<div class="col-4 offset-1">
				<h1>Инфо: </h1>
				{% for info in all_info %}
				<div class="alert alert-success">
					<div class="row">
						<div class="col-8">
							<b>Город: </b> {{info.city}} <br>
							<b>Температура: </b> {{info.temperature}}<sup>o</sup><br>
						</div>
						<div class="col-2 offset-1">
							<img src="http://openweathermap.org/img/w/{{info.icon}}.png" alt="Фото погоды">
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	{% endblock %}
